.top-bar {
    border-bottom: 1px solid rgb(226, 224, 224);
    @include mobile {
        display: none;
    }
}
.main-menu {
    @include mobile {
        background-color: rgb(34, 34, 34);
    }
    box-shadow: 0px 25px 20px -32px grey;
    .container {
        @include mobile {
            position: relative;
        }
        .logo {
            img {
                width: 24rem;
                @include mobile {
                    width: 14rem;
                }
            }
        }
        .menu {
            position: relative;
            @include mobile {
                .icon-menu {
                    position: absolute;
                    top: -50px;
                    i {
                        font-size: 26px;
                        color: white;
                    }
                }
                .search {
                    position: absolute;
                    right: 0%;
                    top: -50px;
                    i {
                        font-size: 22px;
                        color: white;
                    }
                }
                .nav {
                    width: 100%;
                    position: absolute;
                    padding-left: 0px;
                    height: 100vh;
                    top: -83px;
                    left: -25rem;
                    background: linear-gradient(rgb(49, 59, 69) 0%, rgb(51, 147, 184) 100%);
                    z-index: 999; 
                    padding-top: 50px;
                    transition: 0.5s ease all;
                    li {
                        color: white;
                        @include mobile {
                            font-size: 21px;
                        }
                    }
                }
                .toogle-nav {
                    left: -10px;
                    width: 100vh;
                    text-transform: none;
                    font-size: 21px;
                }
                .toggle-icon-menu {
                    z-index: 9999;
                    right: 0px;
                    top: -62px;
                }
            }
        }
    }
}
.container{
    max-width: 1204px;
    padding: 0 20px;
    @include mobile {
        padding: 0 10px;
    }
}
.block img {
    width: 98%;
    filter: brightness(0.7);
    @include mobile {
        width: 100%;
    }
}
.block > div {
    margin-bottom: 10px;
}
.block {
    margin-top: 50px;
    @include tablet-mini {
        margin-top: 20px;
    }
    @include mobile {
        margin-top: 30px;
    }
    .title-block{
        top: 65%;
        left: 2%;
        @include tablet {
            top: 45%;
        }
        @include tablet-mini {
            top: 25%;
            width: 100%;
        }
        @include mobile {
            top: 60%;
        }
    }
}
.main-content {
    .title-content{
        h3.font-bold {
            width: fit-content;
            border-bottom: 2px solid;
        }
    } 
}
.main-content {
    .title-content {
        .item-post {
            margin-top: 30px;
            .img {
                height: fit-content;
                img {
                    height: 168px;
                    width: 100%;
                    @include tablet-mini {
                        height: 130px;
                    }
                    @include mobile {
                        height: 100px;
                    }
                }
            } 
            .title-post {
                padding: 15px 20px 0px 20px;
                @include tablet-mini {
                    padding-top: 5px;
                }
                @include mobile {
                    padding: 0px 0px 0px 10px;
                }
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 9px;
                    @include tablet-mini {
                        font-size: 16px;
                        margin-bottom: 4px;
                    }
                    @include mobile {
                        font-size: 16px;
                    }
                }
                p.category-date {
                    font-size: 12px;
                    color: #999999;
                    margin-bottom: 16px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    @include tablet-mini {
                        font-size: 11px;
                    }
                    span {
                        color: black;
                    }
                    @include tablet-mini {
                        margin-bottom: 8px;
                    }
                    @include mobile {
                        font-size: 10px;
                        margin-bottom: 0px;
                    }
                }
                .description {
                    p {
                        font-size: 13px;
                        color: #444444;
                        @include tablet-mini {
                            font-size: 11px;
                        }
                        @include mobile {
                            display: none;
                        }
                    }
                }

            }
        }
    }
}
.main-content {
    .side-bar {
        padding-left: 30px;
        margin-top: 20px;
        @include tablet-mini {
            padding-left: 10px;
            margin-top: 0px;
        }
        @include mobile {
            padding-left: 0px;
        }
        h3.text-xl {
            border-bottom: 2px solid;
            width: fit-content;
        }
        .follow {
            .social {
                text-align: center;
                background-color: #222;
                color: white;
                width: 100px;
                height: 100px;
                margin: 30px 18px 0px 0px;
                padding: 14px 0 0 0;
                transition: 0.3s ease all;
                &:hover {
                    cursor: pointer;
                }
                &:first-child {
                    &:hover {
                        background-color: #516eab;
                    }
                }
                &:last-child {
                    &:hover {
                        background-color: #e14e42;
                    }
                }
                p {
                    font-size: 17px;
                }
                span {
                    font-size: 13px;
                }
                i {
                    font-size: 20px;
                }
            }
        }
        .common {
            margin-top: 30px;
        }
        .sidebar-post {
            .content-sidebar {
                padding: 5px 0px 0px 14px;
                @include tablet-mini {
                    padding-left: 5px;
                    padding-top: 0px;
                }
                h3 {
                    font-size: 14px;
                    margin-bottom: 3px;
                    @include tablet-mini {
                        font-size: 12px;
                    }
                }
                p {
                    color: #aaa;
                    font-size: 11px;
                }
            }
            .flex {
                margin-top: 20px;
            }
        }
        .block_inner {
            .block {
                text-align: center;
                transition: 0.3s ease all;
                &:hover {
                    filter: brightness(0.5);
                    cursor: pointer;
                    color: white;
                }
                img {
                    height: 200px;
                }
                h3 {
                    color: white;
                    top: 38%;
                    padding: 0 40px;
                    z-index: 999;
                }
            }
        }
    }
}
.covid-country {
    margin-bottom: 70px;
    .title {
        margin: 50px 0px 20px 70px;
        @include tablet-mini {
            margin-left: 20px;
        }
        h3 {
            width: fit-content;
            border-bottom: 2px solid;
            font-size: 23px;
        }
        @include mobile {
            margin: 40px 0px 20px 0px;
        }
    }
    .country {
        text-align: center;
        h3 {
            font-size: 23px;
        }
        p {
            font-size: 23px;
            color: #1e73be;
        }
        span.state {
            font-size: 17px;
            @include mobile {
                font-size: 17px;
                font-weight: 500;
                line-height: 21px;
                text-align: center;
                color: #666;
            }
        }
        span.update {
            margin-top: 8px;
            font-size: 12px;
            text-align: center;
            color: #999;
            display: none;
            @include mobile {
                display: block;
            }
        }
        @include mobile {
            margin-bottom: 32px;
        }
    }
    @include mobile {
        margin-bottom: 30px;
    }
}
.footer-main {
    background: #222222;
    padding: 50px 0px;
    text-align: center;
    .logo {
        img {
            width: 22%;
            margin: auto;
            @include mobile {
                width: 76%;
            }
        }
    }
    .about {
        p {
            color: white;
            padding: 20px 120px;
            @include tablet-mini {
                padding: 20px;
            }
            @include mobile {
                padding: 20px 40px;
                font-size: 14px;
            }
        }
    }
    .contact {
        p {
            color: white;
            a {
                color: #cb9558;
            }
        }
    }
    .social {
        justify-content: center;
        margin-top: 16px;
        a {
            border: 1px solid rgba(203,149,88,0.03);
            padding: 7px 0px;
            background-color: rgba(255,255,255,0.03);
            margin-right: 10px;
            i {
                width: 40px;
                color: white;
            }
        }
    }
}
.footer-bottom {
    background-color: #080810;
    color: white;
    font-size: 12px;
    padding: 10px 0px;
    @include mobile {
        .flex {
            display: block;
        }
    }
    .bottom-left {
        @include mobile {
            margin-bottom: 17px;
            text-align: center;
        }
    }
    .bottom-right {
        margin-left: auto;
        li {
            margin-right: 20px;
            a {
                transition: 0.3s ease all;
                &:hover {
                    color:#cb9558;
                }
            }
        }
        .flex {
            @include mobile {
                display: flex;
                justify-content: center;
            }
        }
    }
}
